<div class="form-container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-field pt-20">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" class="inp" />
      <div class="error" *ngIf="form['name'].touched">
        <span *ngIf="form['name'].errors?.['required']">Name is required.</span>
        <span *ngIf="form['name'].errors?.['minlength']">Minimum 3 characters required in Name.</span>
      </div>
    </div>
    <div class="form-field">
      <label for="dob">Date of birth</label>
      <input type="date" id="dob" formControlName="dob" class="inp" />
      <div class="error" *ngIf="form['dob'].touched">
        <span *ngIf="form['dob'].errors?.['required']">DOB is required.</span>
      </div>
    </div>
    <div class="form-field">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" class="inp" />
      <div class="error" *ngIf="form['email'].touched">
        <span *ngIf="form['email'].errors?.['required']">Email is required.</span>
        <span *ngIf="form['email'].errors?.['email']">Invalid Email Address.</span>
      </div>
    </div>
    <div class="form-field">
      <label for="phoneNumber">Phone Number:</label>
      <input type="phoneNumber" id="phoneNumber" formControlName="phoneNumber" class="inp" />
      <div class="error" *ngIf="form['phoneNumber'].touched">
        <span *ngIf="form['phoneNumber'].errors?.['required']">Phone Number is Required.</span>
        <span *ngIf="form['phoneNumber'].errors?.['length']">Please enter valid phone number.</span>
      </div>
    </div>
    <div class="form-field" formGroupName="education">
      <p>Education:</p>
      <div class="form-field">
        <label for="institute">Institute:</label>
        <input type="text" id="institute" formControlName="institute" class="inp" />
        <div class="error" *ngIf="form['institute'].touched">
          <span *ngIf="form['institute'].errors?.['required']">Phone Number is Required.</span>
          <span *ngIf="form['institute'].errors?.['length']">Please enter valid phone number.</span>
        </div>
      </div>
      <div class="form-field">
        <label for="education">Education:</label>
        <select name="education" id="education" formControlName="education" class="inp">
          <option value="ssc">SSC</option>
          <option value="hsc">HSC</option>
          <option value="bTech">B.TECH</option>
        </select>
        <div class="error" *ngIf="form['institute'].touched">
          <span *ngIf="form['institute'].errors?.['required']">Phone Number is Required.</span>
          <span *ngIf="form['institute'].errors?.['length']">Please enter valid phone number.</span>
        </div>
      </div>
    </div>
    <div class="btns">
      <button type="reset">Clear</button>
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
