.form-container {
    width: 700px;
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    color: aliceblue;
}

.form-item {
    display: flex;
    align-items: center;
    gap: 5px
}

.form-field-group {
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
}