/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'outfit';
}

.error {
    color: red;
    font-size: smaller;
}


.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.pt-20 {
    padding-top: 20px;
}

.inp {
    background-color: hsl(215, 32%, 27%);
    width: calc(100% - 24px);
    margin-top: 12px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    padding: 6px 12px;
    border-radius: 20px;
    color: aliceblue;
}

button {
    background-color: hsl(178, 100%, 50%);
    padding: 10px;
    border-radius: 30px;
    color: hsl(215, 62%, 54%);
    border-width: 0;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-bottom: 20px;
}